@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img class="img-responsive img-border img-left" src="/img/Hovis Excellence logo_1.png" alt="" width="250" height="250">

<p>The Hovis Excellence Performance Management System is a bespoke application designed to collate all Operational Performance data in one ergonomic application to ensure accuracy, transparency and effectiveness of operational data.</p>
<p>This will ensure the holistic collection of key performance data to help drive the Hovis Excellence Improvement agenda in every area of S.Q.S.C.P.</p>
