@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img class="img-responsive img-border img-left" src="/img/Hovis Excellence logo_1.png" alt="" width="250" height="250">

<p> To understand more about this application , for new users to be added or improvements logged please contact :</p>

<address>
    Graham Paterson<br />
    Hovis Limited<br />
    High Wycombe, HP12 3QS<br />
    <abbr title="Phone">P:</abbr>
    01494 428000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:graham.paterson@hovis.co.uk">graham.paterson@hovis.co.uk</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>