@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hovis Excellence</h1>
    <p class="lead">this application is used to record KPI data for use in management reporting.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Choose a submission week and simply record your KPI results
            against the relevant measure.
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Edit Templates</h2>
        <p>templates for KPI measure collection can be managed from within this application if you have the correct authority</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Management Reporting</h2>
        <p>Data collected by this application will be used to provide management reports using the BIME tool.</p>
        <p><a class="btn btn-primary" href="https://hovis.bime.io/dashboard/7F25A4C4F8B4113A5C7391062AF34E887DB74C573F7A2CC044428DBC7B307F91">KPI Reports &raquo;</a></p>
        <p><a class="btn btn-default" href="https://hovis.bime.io/dashboard/BAC65A77DB0A7137C52DDB7F087D65F8C962D002B3722B6A91836E867BFFDC23#/">Complaints Summary &raquo;</a></p>
        <p><a class="btn btn-default" href="https://hovis.bime.io/dashboard/213D8A84B4A2C4D353637470FAF1A4E3A4F09AC87FEB75608254347C9028D587#/">Complaints Investigation &raquo;</a></p>
    </div>
</div>